// *{
//     outline: 1px solid black;
// }
.dropdown .dropdown-menu {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  max-height: 500px;
  transition: max-height 0.2s ease-in;
}
.nav-link:hover{
    background-color: rgba(100, 0, 0, 0.100);
}
.search-click {
    width: 130px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 20px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    left: 0%;
  }
  .navbar-brand{
    color: #ff4c24;
    font-family: sans-serif;
  }