.slider{
    height: 700px;
    width: 100%;
}
.carousel-item img {
    min-width: 100%;
    height: 700px;
}
div.carousel-caption{
    background-color: rgba($color: #000000, $alpha: 0.5);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #ff4c24;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #ff4c24;
}