
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .role-create-input{
    margin: 5px 5px;
  }
  .role-create-button{
    margin-left: 5%;
    margin-bottom: 5px;
  }