<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<app-footer></app-footer>

<ngx-spinner size="medium" name="fire" type="fire"></ngx-spinner>
<ngx-spinner size="medium" name="square-jelly-box" type="square-jelly-box"></ngx-spinner>
<ngx-spinner size="medium" name="ball-spin-rotate" type="ball-spin-rotate"></ngx-spinner>